<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rg.mapper.OrderSettingMapper">


    <insert id="add" parameterType="com.rg.pojo.OrderSetting">
        insert into t_ordersetting(orderDate,number)
        values(#{orderDate},#{number})
    </insert>
    <update id="editNumberByOrderDate" parameterType="com.rg.pojo.OrderSetting">
        update t_ordersetting set number = #{number}
        where orderDate=#{orderDate}
    </update>
    <select id="findCountByOrderDate" resultType="java.lang.Long" parameterType="date">
        select count(*) from t_ordersetting
        where orderDate = #{orderDate}
    </select>
    <select id="getOrderSettingByMonth" resultType="com.rg.pojo.OrderSetting" parameterType="map">
        select * from t_ordersetting
        where orderDate BETWEEN #{begin} AND #{end}
    </select>

    <!--更新已预约人数-->
    <update id="editReservationsByOrderDate" parameterType="com.rg.pojo.OrderSetting">
        update t_ordersetting set reservations = #{reservations} where orderDate = #{orderDate}
    </update>

    <!--根据日期查询预约设置信息-->
    <select id="findByOrderDate" parameterType="date" resultType="com.rg.pojo.OrderSetting">
        select * from t_ordersetting where orderDate = #{orderDate}
    </select>
</mapper>